@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Base */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  height: 12px; /* Needed for horizontal scrollbars */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: #000000; /* Light grey track */
  border-radius: 6px; /* Rounded corners for the track */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #17e929; /* Darker grey thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid #f2f2f2; /* Creates a padding effect between track and thumb */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #f2f2f2;
  border: 3px solid #17e929; /* Slightly darker thumb on hover for visual feedback */
}

*{
    font-family: 'Montserrat';
}

.nav-items .nav-links .nav-a{
    @apply rounded py-[7px] px-[13px] text-[17px]
    hover:bg-white hover:text-black transition-all duration-300
}

#check:checked ~ .nav-items{
    left: 0;
}

/* Section-1 */

.background-1{
    background-image: url('./images/background-1.png');
    
}
.hr{
  margin: 80px auto 80px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 4%;
}

@keyframes typing {
    0%, 100% { width: 0; }
    50% { width: 42%; }
  }
  
  @keyframes untyping {
    0%, 100% { width: 42%; }
    50% { width: 0; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }

  @media (min-width:1024px){
    @keyframes typing {
        0%, 100% { width: 0; }
        50% { width: 30%; }
      }
      
      @keyframes untyping {
        0%, 100% { width: 30%; }
        50% { width: 0; }
      }
      
      @keyframes blink {
        50% { border-color: transparent; }
      }
  }
  
  .typing {
    position: relative;
    top: 7px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white; /* adjust border thickness as needed */
    display: inline-block; /* Ensures proper positioning of the text */
    animation: typing 5s steps(25) infinite, blink 0.7s infinite step-start;
  }
  
  .typing:after {
    content: "";
    display: inline-block;
    width: 0;
    animation: untyping 5s steps(25) infinite;
    animation-delay: 3s; /* Delay before untyping starts */
  }


  .slide {
    position: absolute;
    top: 10px;
    right: -20%; /* Start position */
    animation: slide-in 1s forwards; /* Adjust animation duration */
  }
  
  @keyframes slide-in {
    0% { right: -20%; }
    100% { right: 0; }
  }


  .btn{
    border: 2px solid black;
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
  }

  /* section2 */

  .background-2{
    background-image: url('./images/backgorund-2.png');
  }

  /* footer */

  .footer{
    background-image: url('./images/footer.png');
  }


  /* about */

  .about-bg{
    background-image: url('./images/aboutbg.png');
    padding-bottom: 240px;
    background-color: black;
    
  }
